@model App5LP.Models.Usuario

@{
    ViewData["Title"] = "AtualizarUsuario";
}

<h4>Editar o Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AtualizarUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idUsu" class="form-control" />

            <div class="form-group">
                <label asp-for="nomeUsu" class="control-label"></label>
                <input asp-for="nomeUsu" class="form-control" />
                <span asp-validation-for="nomeUsu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNasc" class="control-label"></label>
                <input type="date" asp-for="DataNasc" class="form-control" />
                <span asp-validation-for="DataNasc" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
